/* Style for the container of the password generator */
.password-generator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

/* Style for the input field */
.password-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.password-length {
  width: 50px;
  padding: 4px;
  margin-left: 10px;
  font-size: 15px;
}
/* Style for the checkboxes container */
.checkboxes-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for each checkbox label */
.checkbox-label {
  margin-right: 10px;
  font-size: 17px;
}

/* Style for the checkboxes */
.checkbox {
  width: 17px;
  height: 17px;
  margin-right: 5px;
}

/* Style for the generated password display */
.generate-password {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.generated-password {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
